{% extends 'base.html' %}

{% block title %}
CampusHub | Courses
{% endblock %}


{% block content %}

<div class="page-header">

    <p class="small-title">ACADEMIC PROGRAM</p>

    <h1>Courses</h1>

    <p>
        Explore the courses available at CampusHub.
    </p>

</div>


<div class="course-grid">

    {% for course in courses %}

    <div class="course-card">

        <div class="course-icon">
            📚
        </div>

        <h2>{{ course.name|title }}</h2>

        <p class="doctor">
            Dr. {{ course.doctor }}
        </p>

        <p>
            {{ course.description|truncatewords:20 }}
        </p>

        <div class="course-footer">

            <span>
                ⏱ {{ course.hours }} Hours
            </span>

            <a href="{% url 'course_detail' course.id %}">
                Details →
            </a>

        </div>

    </div>

    {% empty %}

    <div class="empty-box">
        <h2>No courses found.</h2>
        <p>Add courses from the Admin Dashboard.</p>
    </div>

    {% endfor %}

</div>

{% endblock %}